/* ================= Skeleton Loader ================= */


.phone-input-box {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 10px;
}

.phone-input {
  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 13px;
  width: 150px;
}

.getid-btn {
  padding: 6px 12px;
  border: none;
  background: #000;
  color: #fff;
  border-radius: 6px;
  font-size: 12px;
  cursor: pointer;
}

.getid-btn:hover {
  opacity: 0.85;
}


.payment-skeleton-id {
  width: 120px;
  height: 18px;
  border-radius: 6px;
  background: #e0e0e0;
}

.payment-skeleton-btn {
  width: 50px;
  height: 28px;
  border-radius: 6px;
  background: #e0e0e0;
}

/* Shimmer Effect */

.shimmer-payment {
  position: relative;
  overflow: hidden;
}

.shimmer-payment::after {
  content: "";
  position: absolute;
  top: 0;
  left: -150px;
  height: 100%;
  width: 150px;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.7),
    transparent
  );
  animation: paymentShimmer 1.2s infinite;
}

@keyframes paymentShimmer {
  100% {
    transform: translateX(300px);
  }
}



.payment-wrapper {
  text-align: center;
  padding: 20px;
  max-width: 500px;
  margin: 0 auto;
}

.payment-title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 8px;
}

.payment-subtitle {
  color: #666;
  margin-bottom: 20px;
  font-size: 14px;
}

.scanner-box {
  background: #f8f8f8;
  padding: 15px;
  border-radius: 12px;
  display: inline-block;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.scanner-image {
  width: 220px;
  height: auto;
  border-radius: 8px;
}

.order-box {
  margin-top: 25px;
  padding: 15px;
  background: #f3f6ff;
  border-radius: 10px;
}

.order-label {
  font-weight: 600;
  margin-bottom: 6px;
}

.order-id-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.order-id {
  font-size: 16px;
  font-weight: bold;
  color: #222;
}

.copy-btn {
  padding: 5px 10px;
  border: none;
  background: #000;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 12px;
}

.copy-btn:hover {
  opacity: 0.85;
}

.note-text {
  font-size: 13px;
  color: #d9534f;
  margin-top: 5px;
}

.after-text {
  margin-top: 20px;
  font-size: 14px;
  color: #555;
}
